@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	touch-action: manipulation;
}
body {
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	background-color: #bbb;
}
button {
	font-family: inherit;
}
.container {
	display: flex;
	align-items: safe center;
	justify-content: safe center;
	height: 100dvh;
}
.content {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: minmax(0, 1fr) minmax(0, 1.25fr);
	padding: 60px 10px;
	max-width: 720px;
	max-height: 800px;
}
.title {
	position: fixed;
	top: 20px;
	font-size: clamp(10px, 3vw, 20px);
	line-height: 1em;
	letter-spacing: -0.01em;
	white-space: nowrap;
}
.title a {
	text-decoration: none;
	color: black;
	font-variation-settings: "wght" 900, "SRFF" 0;
	font-weight: 900;
}
.title a:hover {
	opacity: .5;
}
.title a:active {
	opacity: .25;
}

/* Screen */
.screen {
	border: 10px inset #eee;
	background-color: #eee;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.screen-content {
	font-size: clamp(20px, 7vw, 48px);
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	text-align: center;
	word-break: break-word;
	letter-spacing: -0.02em;
	overflow-wrap: break-word;
	overflow: scroll;
	max-height: 100%;
	padding: calc(20px + .2em) 20px 20px 20px;
	outline: unset;
	width: 100%;
}

/* Controls */
.controls-group {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4px 10px 0 10px;
	gap: 4px;
	min-height: 50px;
}
.controls-group label {
	text-transform: uppercase;
	font-size: clamp(8px, 2.5vw, 10px);
	letter-spacing: .2em;
	line-height: 1em;
	color: #555;
	padding-left: .2em;
	transform: translateY(-10px);
	font-variation-settings: "wght" 750, "SRFF" 0;
	font-weight: 750;
}
.controls-group input {
	cursor: pointer;
	-webkit-appearance: none;
	background: #999;
	outline: none;
	height: 3px;
	width: 100%;
}
.controls-group input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #aaa;
	border: 5px outset #ccc;
	cursor: pointer;
}
.controls-group input::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 5px outset #ccc;
	background: #aaa;
	cursor: pointer;
}
.controls-group input::-webkit-slider-thumb:hover {
	filter: brightness(110%);
}
.controls-group input::-webkit-slider-thumb:active {
	filter: brightness(90%);
	border: 5px inset #ccc;
}
.controls-group input::-moz-range-thumb:hover {
	filter: brightness(110%);
}
.controls-group input::-moz-range-thumb:active {
	filter: brightness(90%);
	border: 5px inset #ccc;
}

/* Keyboard */
.keyboard {
	flex-grow: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-transform: lowercase;
}
.keyboard-row {
	flex-grow: 1;
	flex-basis: 40px;
	min-height: 40px;
	display: flex;
}
.keyboard-row button {
	flex-grow: 1;
	flex-basis: 0;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	font-size: clamp(10px, 3vw, 20px);
	border: unset;
	background-color: #ccc;
	border: 10px outset color-mix(in hsl, white 10%, #ddd 100%);
	color: #777;
	text-shadow: -.5px -.5px rgba(0,0,0,.5), -1px -1px rgba(0,0,0,.5), .5px .5px rgba(255,255,255,.5), 1px 1px rgba(255,255,255,.5);
	cursor: pointer;
	line-height: 1em;
	padding-top: .2em;
	outline: unset;
	text-transform: inherit;
}
.keyboard-row button[data-active="1"] {
	filter: brightness(90%);
	border: 10px inset color-mix(in hsl, white 10%, #ddd 100%);
}
.keyboard-row button:hover {
	filter: brightness(110%);
}
.keyboard-row button:active {
	filter: brightness(90%);
	border: 10px inset color-mix(in hsl, white 10%, #ddd 100%);
}
.keyboard-row-spacer {
	flex-grow: 1;
}
#keyboard-clear {
	text-transform: uppercase;
	font-size: clamp(8px, 2.5vw, 16px);
	letter-spacing: .2em;
	line-height: 1em;
	padding-left: .2em;
	font-variation-settings: "wght" 750, "SRFF" 0;
	font-weight: 750;
}
#keyboard-play {
	text-transform: uppercase;
	font-size: clamp(8px, 2.5vw, 16px);
	letter-spacing: .2em;
	line-height: 1em;
	padding-left: .2em;
	font-variation-settings: "wght" 750, "SRFF" 0;
	font-weight: 750;
}

/* Fullscreen player */
.player {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	background-color: white;
	font-size: max(5vw, 32px);
	word-break: break-word;
	overflow-wrap: break-word;
	color: white;
	text-align: center;
	display: flex;
	align-items: safe center;
	justify-content: safe center;
	padding: 5vw;
	text-wrap: balance;
	cursor: none;
}
.player[data-active="0"] {
	display: none;
}
.player-content {
	display: flex;
	flex-wrap: wrap;
	align-items: safe center;
	justify-content: safe center;
	gap: .1em;
}
.player-content > span {
	flex-wrap: nowrap;
	gap: .1em 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.player-content .letter {
	color: black;
	line-height: 1em;
}

/* Mobile styles */
@media (max-width: 650px) {
	.title {
		top: 15px;
	}
}
@media (max-width: 450px) {
	.container {
		padding: unset;
	}
	.content {
		padding: 40px 0 0 0;
		max-height: unset;
	}
	.screen {
		border-width: 2px !important;
	}
	.controls-group {
		border-width: 5px !important;
	}
	.controls-group label {
		transform: translateY(-15px);
	}
	.controls-group input {
		height: 2px;
	}
	.controls-group input::-webkit-slider-thumb {
		border-width: 2px !important;
	}
	.controls-group input::-moz-range-thumb {
		border-width: 2px !important;
	}
	.keyboard-row button {
		border-width: 5px !important;
	}
	.player-content .letter {
		border-width: 5px !important;
	}
}